body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    align-items: center;
    margin-top:100px ;
    background: rgba(28, 177, 132, 0.1);
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
}

ul {
    list-style: none;
    padding: 0;
    background: rgba(52, 157, 231, 0.1);
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover{
    transform: scale(0.3rem);
    transition:cubic-bezier(0.215, 0.610, 0.355, 1);
    color: black;
}